section#about{
    background-color: #000;  
    /*완성되면 백그라운드 지우기*/
    padding: 250px 0 0 0;
    display: flex;
    /* flex-direction: column;   */
    /*  flex의 방향을 수직으로  */
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: solid; */
    min-height: 900px;
}


section#about .wrap{
    position: absolute;
    /*  position: absolute; 하게되면 아래 컨텐츠와 겹치게   */
    font-size: 25px;
    /* font-family: 'Noto Serif KR', serif; */
    /* background-color: #f4f4f4; */
    height: 900px;
    flex-flow: column wrap;
    /*! border: solid burlywood; */
}


section#about .wrap h2{
    line-height : normal;
    /*  행 간격  */
    letter-spacing : .3em;
    /*  글자 간격  */
    padding-top: 70px;
    font-size: 50px;
    font-weight: 1000;
    /*! text-align: center; */
    color: #ff0079;
}

section#about .wrap .div1{
    display: flex;
    padding-top: 50px;
}



    /* 사진 부분 */
section#about .wrap .div1 .aimg{
    /*! border: solid burlywood; */
    width: 35%;
    padding-top: 50px;
    position: relative;
}
section#about .wrap .div1 .aimg::before{
    content: "";
    width: 420px;
    height: 190px;
    /*! display: inline-block; */
    background-color: #ff0079;
    position: absolute;
    left: 60px;
    top: 230px;
    border-radius: 50%;
    transform: rotate(-25deg);
}
section#about .wrap .div1 .aimg img{
    content: "";
    width: 350px;
    height: 350px;
    top: 25px;
    position: relative;
}
section#about .wrap .div1 .aimg .hash{
    margin-top: 80px;
    flex-wrap: wrap;
}
section#about .wrap .div1 .aimg .hash li{
    font-size: 30px;
    color: #d2d2d2;
    /*! margin-top: 70px; */
/*     margin-left: 20px; */
    font-weight: 500;
    line-height : normal;
    letter-spacing : .1em;  
    margin-left: 20px;
}
section#about .wrap .div1 .aimg ul li:before{
    content: "#";
    font-size: 30px;
    color: #d2d2d2;
}



    /* 부연 설명 부분 */
section#about .wrap .div1 .ainfo{
    width: 60%;
    margin: 0 auto;
}

section#about .wrap .div1 .ainfo .subinfo {
    gap: 50px;
    flex-wrap: wrap;
}
section#about .wrap .div1 .ainfo .subinfo > li{
    font-size: 25px;
    color: #000;
    width: 360px;
    height: 310px;
    display: flex;
    flex-wrap: wrap;
    /*! box-sizing: border-box; */
    background-color: white;
    box-shadow: aqua;
    /*! box-shadow: 8px 10px 20px 0px rgba(173, 173, 173); */
    /*! box-shadow: 8px 10px 20px 0px rgba(255, 0, 121, 0.5); */
}
section#about .wrap .div1 .ainfo .subinfo > li:nth-child(3){
    font-size: 25px;
    color: #000;
    width: 770px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    /*! box-sizing: border-box; */
    background-color: white;
}
section#about .wrap .div1 .ainfo .subinfo > li:nth-child(3) ul{

    flex-wrap: wrap;
    margin: 25px;
    gap: 30px;
}
section#about .wrap .div1 .ainfo .subinfo > li:nth-child(3) ul li{
    font-size: 20px;
    color: #939393;
    font-weight: 500;
    line-height : normal;
    letter-spacing : .1em;  
}


section#about .wrap .div1 .ainfo .subinfo li h3{
    font-size: 35px;
    color: black;
    margin: 25px 20px 0;
    font-weight: 500;
    line-height : normal;
    /*! letter-spacing : .1em; */  
}
section#about .wrap .div1 .ainfo .subinfo li p{
    font-size: 20px;
    color: #939393;
    margin: 25px;
    font-weight: 500;
    line-height : normal;
    letter-spacing : .1em;  
}

